.img{
  max-width: 20%;
  float: left;
}
.head{
  @import url{"https://fonts.googleapis.com/css/css?family=Montserrat:300,400,700&display=swap"};
  color: MidnightBlue;
  font-family: 'Montserrat' ,sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 350px;
}
.entry{
  text-align: center;
  margin-right: 350px;
}
.box{
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 500px;
   width: 450px;
   margin-left: 30% ;
   margin-top: 10px;
   outline: none;
   border: none;
   background-color: #00CED1;
   border-radius: 10px;
   box-shadow: inset -5px -5px 12px #ffffff ,
               inset 5px 5px 12px #ffffff;
}
.box-label{
  margin-top: 50px;
  width:50%;
}
.box-input{
  margin-top: 30px;
  width:50%;
  padding: 7px;
}
.button2{
  align-items: center;
  border-color: none;
  background-color: MidnightBlue;
  width: 100px;
  padding: 10px;
  color:white;
  margin-top: 30px;
  margin-left: 55px;
}
.button2:hover{
  border-color: orange;
  color:orange;
}
@media only screen and (max-width:700px){
 .box-input{
     width: 50%;
     margin-top: 20px;
 }
 .box{
    height: 400px;
    width: 300px;
    margin-left: 80px;
    margin-top: 0px;
    padding: 10px;
 }
 .button2{
   width: 25%;
   margin-left: 20px;
 }
 .head{
   font-size: 2rem;
   margin-top: 10px;
   margin-bottom: 0px;
   margin-right: 80px;
   margin-left: 70px;
   padding: 10px 10px;
 }
 .img{
   margin-bottom: 10px;
   margin-left: 130px;
   max-width: 200px;
 }
}